<div class="summary-entry-header">
{{ $type := "article" }}
{{ $resource := .Resources.GetMatch "xsdf123" }}
{{ with .Params.cvtype }}
    {{ $type = . }}
{{ end }}
{{ if eq $type "article" }}
    {{ $resource = .Resources.GetMatch "hero" }}
{{ else if eq $type "blog" }}
    {{ $headless := $.Site.GetPage "/blog-headless" }}
    {{ $resource = $headless.Resources.GetMatch "hero" }}
{{ end }}

<div class="table mb-4">
{{ with $resource }}
<div class="table-cell" style="width: 100px">
    {{ $image := .Fill "100x100 Center" }}
    <img src="{{$image.RelPermalink}}" title="{{$image.Title}}" width="{{ $image.Width }}" height="{{ $image.Height }}">
</div>
{{ end }}

<div class="table-cell" style="vertical-align: top; margin: 0 0 0.67em 0.1em">
{{ if .IsPage }}
    <h1 class="text-3xl font-sans -mt-2 mr-0 mb-2 ml-2" ><a class="font-light text-linkblue" href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
{{ else }}
    <h2><a href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Title }}</a></h2>
{{ end }}
<footer class="font-sans font-light text-base ml-2" >
    <time class="text-9gray" datetime="{{ dateFormat "2006-01-02" .Params.publishDate }}">{{  dateFormat "2006.01.02" .Params.publishDate }}</time>
{{ if isset .Params "tags" }}
    {{ if gt (len .Params.tags) 0 }}&middot; 
        {{ range $i, $v := .Params.tags }}
        <a href="/tags/{{ $v | urlize }}">{{ $v | lower }}</a>{{ if ne (len $.Params.tags) (add $i 1) }}, {{ end }}
        {{ end }}
    {{ end }}
{{ end }}
</footer>
</div>
</div>
</div>
