<div class="pagination">
<nav>
{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
    {{ if .Paginator.HasPrev }}
	<a class="btn newer" href="{{.Paginator.Prev.URL}}" title="Newer">&laquo; Newer</a>
	{{ end }}
{{ end }}
	<p class="counter"> page {{ .Paginator.PageNumber}} of {{.Paginator.TotalPages}}</p>

{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
	{{ if .Paginator.HasNext }}
	<a class="btn older" href="{{.Paginator.Next.URL}}" title="Older">Older &raquo;</a>
	{{ end }}
{{ end }}
</nav>
</div>
