{{ if .IsPage }}
<h1><a href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
{{ else }}
<h2><a href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Title }}</a></h2>
{{ end }}
<footer class="post-info">{{  dateFormat "2006.01.02" .Params.publishDate }} <span class="post-meta"><time datetime="{{ dateFormat "2006.01.02" .Params.publishDate }}"/>
{{ if isset .Params "tags" }}
    {{ if gt (len .Params.tags) 0 }}&middot; 
        {{ range $i, $v := .Params.tags }}
        <a href="/tags/{{ $v | urlize }}">{{ $v | lower }}</a>{{ if ne (len $.Params.tags) (add $i 1) }}, {{ end }}
        {{ end }}
    {{ end }}
{{ end }}
</span>
</footer>
