/* links in the main article should be a blue color */
article a {
    color: #3333aa;
}

/* figures for the page tops */
/*.page-banner figcaption { */
figcaption {
    font-size : 8pt;
    line-height: 8pt;
    font-style: italic;
}

/********************************************
 *
 * Side-note shortcode styling
 *
 * If the shortcode moves to the theme, so should
 * the styling.
 *
 ********************************************/
.side-note {
    background-color: beige;
    margin-left: 1.5em;
    border-left: 3px solid #606020;
    padding-top: 0.2em;
    padding-left: 6px;
    position: relative;
}

.side-note::before {
    content: "Note";
    font-style: italic;
    font-size: 0.7em;
    top: -0.7em;
    position: absolute;
}

.side-note p {
    margin-left: 10px;
    line-height: 20pt;
    font-size: 14px;
}
